.button {
}

.disabled {
}

.secondary {
    color: red;
    height: 80px;
}

.default {
    color: dodgerblue;
}

.red {
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
